{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />
<br />
<br />
<form method ="POST">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="movieSearch"
      name="movieSearch"
      placeholder="Enter Movie"
    />
  </div>
  <p align="center"><button type="search" class="btn btn-primary", name="find">Find Similar Movies!</button></p>

<br />
<br />
<br />
<h1 align = "center">PingIntelligence Movie Recommendation</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<body align = "center">Are you trying to find a movie that matches the interest of you and a friend?</body>
<br />
<br />
<p align="left"><button type="two_movies" class="btn btn-primary" name="double"> Click Here To Enter 2 Movies!</button></p>
</form>

{% endblock %}